<div id="banner-section" class="home-section section-banner">
  <div class="banner banner--full-page">
    <div class="image-overlay image-overlay--bg-shadow">
      <a
        class="image-overlay__image-link"
        href="collections/all/products/melting-balm-cleanser.html"
        ><div
          class="banner-background-wrapper lazyload--placeholder desktop-only"
        >
          <div
            class="banner-outer-wrapper banner-background lazyload--manual fade-in"
          >
            <div class="banner-wrapper"></div>
          </div>
        </div>

        <div
          class="banner-outer-wrapper banner-background lazyload--manual mobile-only fade-in"
        >
          <div class="banner-wrapper"></div>
        </div>
      </a>
    </div>
  </div>
</div>
