$colors: (
  primary: (
    // blue
    100: hsl(0 0% 97%),
    200: hsl(0 0% 77%),
    300: hsl(0 0% 57%),
    400: hsl(0 0% 0%),
    500: hsl(0 0% 27%),
    600: hsl(0 0% 17%),
  ),
  secondary: (
    // purple
    200: #cf8476,
    400: #d25a3c,
    600: #ee2f53,
  ),
  neutral: (
    50: #f9fafb,
    100: #e5e5e5,
    200: #dfe3e8,
    300: #bfbfbf,
    400: #7d7d7d,
    500: #626161,
    600: #4b5563,
    700: #374151,
    800: #1f2937,
    900: #111827,
  ),
  error: (
    200: hsl(345 88% 86%),
    400: hsl(345 88% 46%),
    600: hsl(345 88% 36%),
  ),
  warn: (
    200: hsl(36 100% 80%),
    400: hsl(36 100% 50%),
    600: hsl(36 100% 40%),
  ),
  success: (
    200: hsl(104 30% 85%),
    400: hsl(104 30% 55%),
    600: hsl(104 30% 45%),
  ),
);
