$type-scale: (
  xs: (
    // Augmented fourth
    100: 0.75rem,
    200: 0.8125rem,
    300: 0.875rem,
    400: 0.9375rem,
    410: 1rem,
    420: 1rem,
    440: 1rem,
    450: 1.125rem,
    470: 1.25rem,
    500: .375rem,
    550: 1.5rem,
    600: 2rem,
    650: 2.375rem,
    700: 3rem,
    750: 3.375rem,
    800: 4rem,
  ),
  md: (
    // Augmented fourth
    100: 0.75rem,
    200: 0.8125rem,
    300: 0.875rem,
    400: 1rem,
    410: 1.125rem,
    420: 1.25rem,
    440: 1.375rem,
    450: 1.5rem,
    470: 1.6875rem,
    500: 2.125rem,
    550: 2.625rem,
    600: 3rem,
    650: 3.375rem,
    700: 4rem,
    750: 4.5rem,
    800: 5.625rem,
  ),
);
