@use "../abstracts" as *;

.columns {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gutter-left;
  margin-right: -$gutter-right;

  & > * {
    padding-left: $gutter-left;
    padding-right: $gutter-right;
  }

  &.no-gutter > * {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  & > [class*="col"] {
    // padding-bottom: 1rem;
    // @include mq(md) {
    //   padding-bottom: 0;
    // }

    &.gutter-md {
      padding-inline: 1em;
      @include mq(md) {
        padding-inline: 2em;
      }
    }
  }
}

@include mq(xs) {
  @for $i from 1 through $grid-columns {
    .column-#{$i} {
      flex: 0 0 calc((100% / $grid-columns) * $i);
      max-width: calc((100% / $grid-columns) * $i);
    }
  }
}

@include mq(md) {
  @for $i from 1 through $grid-columns {
    .column-md-#{$i} {
      flex: 0 0 calc((100% / $grid-columns) * $i);
      max-width: calc((100% / $grid-columns) * $i);
    }
    .column-md-offset-#{$i} {
      margin-left: calc((100% / $grid-columns) * $i);
    }
  }
}

@include mq(lg) {
  @for $i from 1 through $grid-columns {
    .column-lg-#{$i} {
      flex: 0 0 calc((100% / $grid-columns) * $i);
      max-width: calc((100% / $grid-columns) * $i);
    }
    .column-lg-offset-#{$i} {
      margin-left: calc((100% / $grid-columns) * $i);
    }
  }
}

@include mq(xl) {
  @for $i from 1 through $grid-columns {
    .column-xl-#{$i} {
      flex: 0 0 calc((100% / $grid-columns) * $i);
      max-width: calc((100% / $grid-columns) * $i);
    }
    .column-xl-offset-#{$i} {
      margin-left: calc((100% / $grid-columns) * $i);
    }
  }
}
