<div class="product-chatnow cc-animate-init -in cc-animate-complete section-padding">
  <div class="container">
    <div class="align-center spaced-column al-text-center">
      <h2 class="majortitle in-content al-mb-8">
        Confused? Chat with our Skin Experts!
      </h2>

      <div class="lightly-spaced-row-above">
        <a
          class="btn btn--primary"
          href="https://api.whatsapp.com/send?phone=918591110603&amp;text=Hello,%20I%20would%20like%20to%20talk%20to%20your%20skin%20expert!"
          >CHAT NOW</a
        >
      </div>
    </div>
  </div>
</div>
