<div class="archive-header__wrapper">
  <div class="container">
    <div class="archive-header" data-ajax-container="" data-ajax-scroll-to="">
      <div class="archive-header__left">
        <a
          href="#"
          class="toggle-btn archive-header__item toggle-btn--revealed-desktop"
          data-toggle-filters=""
        >
          <span class="button-icon"
            ><svg
              width="23"
              height="19"
              viewBox="0 0 20 20"
              stroke-width="1.25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <line
                x1="1"
                y1="6"
                x2="19"
                y2="6"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></line>
              <line
                x1="1"
                y1="14"
                x2="19"
                y2="14"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></line>
              <circle
                cx="7"
                cy="6"
                r="3"
                fill="none"
                stroke="currentColor"
              ></circle>
              <circle
                cx="13"
                cy="14"
                r="3"
                fill="none"
                stroke="currentColor"
              ></circle></svg
          ></span>
          <span>Filter</span>

          <span class="toggle-btn__chevron"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.3"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-chevron-right"
            >
              <title>Right</title>
              <polyline points="9 18 15 12 9 6"></polyline></svg
          ></span>
        </a>
      </div>
      <h1 class="pagetitle h3-style">Face Care</h1>

      <div class="archive-header__right">
        <span class="archive-header__item desk-only">
          <div class="select-dropdown select-dropdown--right-aligned">
            <div class="visually-hidden" id="sort-dropdown-heading">
              Sort by
            </div>
            <button
              class="select-dropdown__button button--select"
              aria-expanded="false"
              aria-controls="sort-dropdown-options"
              aria-describedby="sort-dropdown-heading"
            >
              <span class="select-dropdown__button-text"
                >Alphabetically, A-Z
              </span>
              <span class="select-dropdown__button-icon"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-chevron-down"
                >
                  <title>Down</title>
                  <polyline points="6 9 12 15 18 9"></polyline></svg
              ></span>
            </button>
            <div class="select-dropdown__options" id="sort-dropdown-options">
              <a
                href="/collections/face-care?sort_by=manual"
                class="select-dropdown__link"
                >Featured</a
              ><a
                href="/collections/face-care?sort_by=best-selling"
                class="select-dropdown__link"
                >Best selling</a
              ><a
                href="/collections/face-care?sort_by=title-ascending"
                class="select-dropdown__link select-dropdown__link--active"
                >Alphabetically, A-Z</a
              ><a
                href="/collections/face-care?sort_by=title-descending"
                class="select-dropdown__link"
                >Alphabetically, Z-A</a
              ><a
                href="/collections/face-care?sort_by=price-ascending"
                class="select-dropdown__link"
                >Price, low to high</a
              ><a
                href="/collections/face-care?sort_by=price-descending"
                class="select-dropdown__link"
                >Price, high to low</a
              ><a
                href="/collections/face-care?sort_by=created-ascending"
                class="select-dropdown__link"
                >Date, old to new</a
              ><a
                href="/collections/face-care?sort_by=created-descending"
                class="select-dropdown__link"
                >Date, new to old</a
              >
            </div>
          </div>
        </span>

        <span class="archive-header__item mobile-only">
          <div class="layout-switchers">
            <a class="layout-switch layout-switch--two-columns" href="#"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.3"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-chevron-down"
              >
                <polyline points="2 2 10 2 10 10 2 10 2 2"></polyline>
                <polyline points="14 2 22 2 22 10 14 10 14 2"></polyline>
                <polyline points="14 14 22 14 22 22 14 22 14 14"></polyline>
                <polyline points="2 14 10 14 10 22 2 22 2 14"></polyline></svg
            ></a>
            <a
              class="layout-switch layout-switch--one-column layout-switch--active"
              href="#"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.3"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-chevron-down"
              >
                <polyline points="2 2 22 2 22 22 2 22 2 2"></polyline></svg
            ></a>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
