<div
  class="card article-card article-card--v2 card--no-br al-h-full card--no-border"
  data-aos="fade-in"
  =""
>
  <div class="card__inner article-card__inner">
    <div class="card__tag article-card__tag">
      <a
        href="{{webRoot}}/single.html"
        title="Show articles tagged The Lab &amp; Skin"
        >The Lab &amp; Skin</a
      >
    </div>

    <div class="card__image card__image--primary card__image--active">
      <a href="{{webRoot}}/single.html">
        <div class="rimage-outer-wrapper">
          <div class="rimage-wrapper">
            <img
              class="rimage__image"
              src="{{image}}"
              alt="Burning question this summer - Is your skin getting drier?"
            />
          </div>
        </div>
      </a>
    </div>

    <h2 class="card-title article-title">
      <a href="{{webRoot}}/single.html" title="">{{title}}</a>
    </h2>
    <div class="card-content">{{excerpt}}</div>

    <div class="card__meta article-meta">
      <span class="iconmeta time">
        <span class="iconmeta-time">{{date}}</span>
      </span>
    </div>
    <a class="link" href="{{webRoot}}/single.html"> Read More </a>
  </div>
  <!-- /.container -->
</div>
