<div class="card article-card">
  <div class="card__inner">
    <div class="card__image-wrapper">
      <a
        class="link"
        href="/articles/copper-peptide-serum"
        aria-label="Copper Peptide Serum"
        tabindex="0"
      >
      </a>
      <div class="card__image card__image--primary card__image--active">
        <div class="rimage-outer-wrapper">
          <div class="rimage-wrapper">
            <img
              class="rimage__image fade-in cover lazyautosizes lazyloaded"
              alt="Copper Peptide Serum - AMINU"
              loading="lazy"
              src="{{image}}"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="card__info">
      <div class="card__info-text">
        <a class="link" href="/articles/copper-peptide-serum" tabindex="0">
          <div class="card-title">{{title}}</div>
          <div class="card-subtitle">{{content}}</div>
        </a>
        <div class="card__btn">
          <a
            href="/articles/copper-peptide-serum"
            class="button button--clear"
            tabindex="0"
          >
            Read More</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
