<div class="card product-technology-card card--no-border" data-aos="fade-up" data-aos-delay="150">
  <div class="card__inner">
    <div class="card__image-wrapper">
      <div class="card__image card__image--primary card__image--active">
        <div class="rimage-outer-wrapper">
          <div class="rimage-wrapper">
            <img
              class="rimage__image fade-in cover lazyautosizes lazyloaded"
              alt="Copper Peptide Serum - AMINU"
              loading="lazy"
              src="{{image}}"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="card__info">
      <div class="card__info-text">
        <div class="card-title al-text-center">{{title}}</div>
        <div class="card-subtitle">{{content}}</div>
      </div>
    </div>
  </div>
</div>
