<div class="card collection-card">
  <div class="card__inner">
    <div class="card__image-wrapper">
      <a
        class="link"
        href="/products/copper-peptide-serum"
        aria-label="Copper Peptide Serum"
        tabindex="0"
      >
      </a>
      <div class="card__image">
        <div class="rimage-outer-wrapper">
          <div class="rimage-wrapper">
            <img
              class="rimage__image fade-in cover lazyautosizes lazyloaded"
              alt="Copper Peptide Serum - AMINU"
              loading="lazy"
              src="{{img}}"
            />
          </div>
        </div>
      </div>
      <div class="card__info">
        <div class="card__info-text">
          <a class="link" href="/products/copper-peptide-serum" tabindex="0">
            <div class="card-title al-text-center">{{title}}</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
