<div class="card product-card">
  <div class="card__inner">
    <div class="card__image-wrapper">
      <a
        class="link"
        href="/products/copper-peptide-serum"
        aria-label="Copper Peptide Serum"
        tabindex="0"
      >
      </a>
      <div
        class="card__image card__image--primary card__image--active"
      >
        <div class="rimage-outer-wrapper">
          <div class="rimage-wrapper">
            <img
              class="rimage__image fade-in cover lazyautosizes lazyloaded"
              alt="Copper Peptide Serum - AMINU"
              loading="lazy"
              src="{{img}}"
            />
          </div>
        </div>
      </div>
      <div class="card__image card__image--reveal">
        <div class="rimage-outer-wrapper">
          <div class="rimage-wrapper">
            <img
              class="rimage__image fade-in lazyautosizes lazyloaded"
              alt="Copper Peptide Serum - AMINU"
              loading="lazy"
              src="{{reveal}}"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="card__info">
      <div class="card__info-text">
        <a
          class="link"
          href="/products/copper-peptide-serum"
          tabindex="0"
        >
          <div class="vendor">{{vendor}}</div>

          <div class="card-title">{{title}}</div>
          <div class="card-subtitle">
            {{subtitle}}
          </div>
          <div class="price-with-review">
            <div class="price">
              <span
                class="price__item price__amount theme-money"
                >{{price}}
              </span>
            </div>
            <div class="option-size">
              <p class="variant-name">10 ml</p>

              <p class="variant-name">30 ml</p>
            </div>
          </div>

          {{> single-product/rating }}
        </a>
        <div class="card__btn">
          <a
            href="/products/copper-peptide-serum"
            class="button button--large"
            tabindex="0"
          >
            View Product</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
