<ul class="dropdown-menu">
              <li class="navigation__item cstmsubmenu">
                <a class="navigation__link" href="collections/body-care.html"
                  >Body Care</a
                >
              </li>

              <li class="navigation__item cstmsubmenu">
                <a class="navigation__link" href="collections/cleansers.html"
                  >Cleansers</a
                >
              </li>

              <li class="navigation__item cstmsubmenu">
                <a
                  class="navigation__link"
                  href="collections/combination-skin.html"
                  >Combination Skin</a
                >
              </li>

              <li class="navigation__item cstmsubmenu">
                <a class="navigation__link" href="collections/dry-skin.html"
                  >Dry Skin</a
                >
              </li>

              <li class="navigation__item cstmsubmenu">
                <a class="navigation__link" href="collections/exfoliate.html"
                  >Exfoliate</a
                >
              </li>

              <li class="navigation__item cstmsubmenu">
                <a class="navigation__link" href="collections/face-care.html"
                  >Face Care</a
                >
              </li>

              <li class="navigation__item cstmsubmenu">
                <a class="navigation__link" href="collections/masks.html"
                  >Masks</a
                >
              </li>

              <li class="navigation__item cstmsubmenu">
                <a class="navigation__link" href="collections/moisturizers.html"
                  >Moisturizers</a
                >
              </li>

              <li class="navigation__item cstmsubmenu">
                <a class="navigation__link" href="collections/normal-skin.html"
                  >Normal Skin</a
                >
              </li>

              <li class="navigation__item cstmsubmenu">
                <a class="navigation__link" href="collections/oily-skin.html"
                  >Oily Skin</a
                >
              </li>

              <li class="navigation__item cstmsubmenu">
                <a class="navigation__link" href="collections/serum.html"
                  >Serum</a
                >
              </li>

              <li class="navigation__item cstmsubmenu">
                <a
                  class="navigation__link"
                  href="collections/sensitive-skin.html"
                  >Sensitive Skin</a
                >
              </li>

              <li class="navigation__item cstmsubmenu">
                <a
                  class="navigation__link"
                  href="collections/body-tan-and-dullness.html"
                  >Body Tan and Dullness</a
                >
              </li>

              <li class="navigation__item cstmsubmenu">
                <a
                  class="navigation__link"
                  href="collections/dryness-and-tired-body.html"
                  >Dryness and Tired Body</a
                >
              </li>

              <li class="navigation__item cstmsubmenu">
                <a
                  class="navigation__link"
                  href="collections/pores-and-congestion.html"
                  >Pores and Congestion</a
                >
              </li>

              <li class="navigation__item cstmsubmenu">
                <a
                  class="navigation__link"
                  href="collections/dullness-and-dehydration.html"
                  >Dullness and Dehydration</a
                >
              </li>

              <li class="navigation__item cstmsubmenu">
                <a
                  class="navigation__link"
                  href="collections/breakouts-and-acne-prone.html"
                  >Breakouts and Acne Prone</a
                >
              </li>

              <li class="navigation__item cstmsubmenu">
                <a
                  class="navigation__link"
                  href="collections/firmness-lines-and-tired-skin.html"
                  >Firmness Lines and Tired Skin</a
                >
              </li>

              <li class="navigation__item cstmsubmenu">
                <a
                  class="navigation__link"
                  href="collections/protection-and-maintenance.html"
                  >Protection and Maintenance</a
                >
              </li>

              <li class="navigation__item cstmsubmenu">
                <a
                  class="navigation__link"
                  href="collections/sensitised-and-redness-prone.html"
                  >Sensitised and Redness prone</a
                >
              </li>

              <li class="navigation__item cstmsubmenu">
                <a
                  class="navigation__link"
                  href="collections/uneven-tone-and-spots.html"
                  >Uneven Tone and Spots</a
                >
              </li>

              <li class="navigation__item cstmsubmenu">
                <a
                  class="navigation__link"
                  href="collections/blackheads-and-rough-texture.html"
                  >Blackheads and Rough texture</a
                >
              </li>
            </ul>