<div class="header-main__left__inner">
  <button
    class="btn btn--clear nav-toggle"
    aria-label="Toggle menu"
    aria-controls="main-nav"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-menu"
    >
      <line x1="3" y1="12" x2="21" y2="12"></line>
      <line x1="3" y1="6" x2="21" y2="6"></line>
      <line x1="3" y1="18" x2="21" y2="18"></line>
    </svg>
  </button>

  <div
    class="header-navi header-navi--left"
    role="header-navi"
    aria-label="Primary header-navi"
  >
    <div class="header-navi-container">
      <nav class="custom-menu">
        <ul class="parent header-navi">
          <li class="header-navi__item dropdown header-navi__item--with-children">
            <a class="header-navi__link" href="index.html#">Shop</a>
            <!-- Dropdown  -->
            <!-- {{> navbar/dropdown }}  -->
            <!-- / Dropdown  -->
          </li>

          <li class="header-navi__item">
            <a class="header-navi__link" href="blogs/journal.html">JOURNAL</a>
          </li>

          <li class="header-navi__item">
            <a class="header-navi__link" href="index.html#quiz-QYHZ7V"
              >Take the Skin Quiz</a
            >
          </li>
        </ul>
      </nav>

      <!-- <script>
        $(document).ready(function () {
          $(this).find(".dropdown-menu").hide();
          $(".custom-menu .dropdown").hover(
            function () {
              $(this).addClass("open");
              $(this).find(".dropdown-menu").stop(true, true).fadeIn("fast");
            },
            function () {
              $(this).removeClass("open");
              $(this).find(".dropdown-menu").stop(true, true).fadeOut("fast");
            }
          );
        });
      </script> -->

      <ul class="header-navi" style="display: none">
        <li
          class="header-navi__item header-navi__item--with-children header-navi__item--with-small-menu"
        >
          <a
            href="index.html#"
            class="header-navi__link"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="header-naviTier2-1"
            >Shop</a
          >
        </li>

        <li class="header-navi__item">
          <a href="blogs/journal.html" class="header-navi__link">JOURNAL</a>
        </li>

        <li class="header-navi__item">
          <a href="index.html#quiz-QYHZ7V" class="header-navi__link"
            >Take the Skin Quiz</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
