<div id="section-header" class="header-section section-page-header">
  <div class="border_space_btm" data-section-type="header" data-cc-animate>
    <div id="page-header" class="page-header page-header--sticky">
      <div class="header-main container">
        <div class="header-main__left">
          <!-- Menu  -->
          {{> navbar/menu }}
          <!-- /Menu  -->
        </div>
        <div class="header-main__center header-main__center--logo-image">
          <div class="header-main__center__inner">
            <!-- Logo  -->
            {{> navbar/logo }}
            <!-- / Logo  -->
          </div>
        </div>

        <div class="header-main__right">
          <!-- HeaderRight  -->
          {{> navbar/header-right }}
          <!-- / HeaderRight  -->
        </div>
      </div>
    </div>
    <a
      href="index.html#"
      class="header-shade mobile-nav-toggle"
      aria-label="general.navigation_menu.toggle_aria_label"
    ></a>
  </div>
</div>
{{> marquee/featured-marquee }}
