<div class="cart-drawer__discount">
  <div class="success-code-discount"></div>
  <label
    class="cart-drawer__discount-heading"
    for="hs-id-discount"
    style="display: none !important"
    >Discount:</label
  >
  <div class="cart-drawer__discount-add">
    <input
      type="text"
      class="cart-drawer__discount-input"
      id="hs-id-discount"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false"
      placeholder="eg. Discount Code"
      value=""
      name="hsdiscount"
      autocomplete="off"
    />
    <button title="Apply" type="button" class="cart-drawer__discount-btn">
      <span class="btn-text">Apply</span>
      <span class="loading"><div class="spinner"></div></span>
    </button>
  </div>
  <div class="error-code-discount"></div>
  <div class="tag-code-discount"></div>
</div>
