<div class="hs-content-upsell-empty-scroll">
  <div class="hs-content-cart-empty">
    <div class="hs-frequently-bought">
      <span>SOLUTIONS FOR HEALTHY SKIN</span>
    </div>
  </div>
  <div
    class="hs-container-dynamic-stacked hs-cross-sell"
    style="display: block"
  >
    <div class="hs-scroll">
      <div class="hs-products-dynamic-stacked">
        <div class="hs-swiper-slide">
          <div class="hs-content-product-slide-cart">
            <div class="hs-product-content-image-swipper">
              <a
                href="/products/copper-peptide-serum?variant=40031513346113"
                class="hs-product-link-image"
                ><img
                  loading="lazy"
                  href="/products/copper-peptide-serum"
                  src="//cdn.shopify.com/s/files/1/0566/6521/0945/files/Catalogue_x160.png"
                  alt="Copper Peptide Serum"
                  width="100"
                  height="90"
              /></a>
            </div>
            <div class="hs-content-title-price-swiper hs-link">
              <div class="hs-popup">
                <div title="Copper Peptide Serum" class="hs-title-swiper">
                  <a
                    href="/products/copper-peptide-serum"
                    class="hs-product-link-image"
                  >
                    Copper Peptide Serum
                  </a>
                </div>
                <div
                  class="jdgm-badge-placeholder"
                  data-handle="copper-peptide-serum"
                ></div>
                <div class="hs-content-all-upsell">
                  <div class="hs-content-price-swiper">
                    <div class="hs-compare-price-sw"></div>
                    <div class="hs-price-sw">
                      <span class="money">Rs. 1,840</span>
                    </div>
                  </div>
                  <div class="hs-variants-swipper">
                    <div class="">
                      <select
                        aria-label="hs-swipper-option-6839898439745"
                        class="hs-swipper-option-parent-6839898439745 hs-swipper-select-option-add-to-cart hs-event-static"
                        data-id="6839898439745"
                      >
                        <option
                          value="40031513346113"
                          data-id="6839898439745"
                          data-price="184000"
                          data-sku="AWCPS02"
                          data-available="true"
                          data-handle="/products/copper-peptide-serum"
                          data-barcode="8906139890388"
                          data-featuredimage=""
                          data-inventorymanagement="shopify"
                          data-compareatprice="null"
                          data-variantid="40031513346113"
                        >
                          10 ML
                        </option>
                        <option
                          value="40109400784961"
                          data-id="6839898439745"
                          data-price="460000"
                          data-sku="AWCPS01"
                          data-available="true"
                          data-handle="/products/copper-peptide-serum"
                          data-barcode="8906139890272"
                          data-featuredimage=""
                          data-inventorymanagement="shopify"
                          data-compareatprice="null"
                          data-variantid="40109400784961"
                        >
                          30 ML
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="hs-upsell-add">
                    <button
                      title="ADD"
                      type="button"
                      class="hs-upsell-add-to-cart btn hs-event-static"
                      data-upsell-type="upsell_empty"
                      data-upsell-index="0"
                    >
                      <span class="hs-add--to--cart">ADD</span>
                      <span class="hs--loading">
                        <div class="hs-spinner"></div>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hs-swiper-slide">
          <div class="hs-content-product-slide-cart">
            <div class="hs-product-content-image-swipper">
              <a
                href="/products/a-ha-face-wash?variant=40031513083969"
                class="hs-product-link-image"
                ><img
                  loading="lazy"
                  href="/products/a-ha-face-wash"
                  src="//cdn.shopify.com/s/files/1/0566/6521/0945/products/1_2_x160.jpg"
                  alt="A-HA Face Wash"
                  width="100"
                  height="90"
              /></a>
            </div>
            <div class="hs-content-title-price-swiper hs-link">
              <div class="hs-popup">
                <div title="A-HA Face Wash" class="hs-title-swiper">
                  <a
                    href="/products/a-ha-face-wash"
                    class="hs-product-link-image"
                  >
                    A-HA Face Wash
                  </a>
                </div>
                <div
                  class="jdgm-badge-placeholder"
                  data-handle="a-ha-face-wash"
                ></div>
                <div class="hs-content-all-upsell">
                  <div class="hs-content-price-swiper">
                    <div class="hs-compare-price-sw"></div>
                    <div class="hs-price-sw">
                      <span class="money">Rs. 1,450</span>
                    </div>
                  </div>
                  <div class="hs-variants-swipper hs-hidden-element">
                    <div class="hs-hidden-element">
                      <select
                        aria-label="hs-swipper-option-6839898210369"
                        class="hs-swipper-option-parent-6839898210369 hs-swipper-select-option-add-to-cart hs-hidden-element hs-event-static"
                        data-id="6839898210369"
                      >
                        <option
                          value="40031513083969"
                          data-id="6839898210369"
                          data-price="145000"
                          data-sku="AWFW001"
                          data-available="true"
                          data-handle="/products/a-ha-face-wash"
                          data-barcode="8906139890210"
                          data-featuredimage=""
                          data-inventorymanagement="shopify"
                          data-compareatprice="null"
                          data-variantid="40031513083969"
                        >
                          100 ML
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="hs-upsell-add">
                    <button
                      title="ADD"
                      type="button"
                      class="hs-upsell-add-to-cart btn hs-event-static"
                      data-upsell-type="upsell_empty"
                      data-upsell-index="1"
                    >
                      <span class="hs-add--to--cart">ADD</span>
                      <span class="hs--loading">
                        <div class="hs-spinner"></div>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hs-swiper-slide">
          <div class="hs-content-product-slide-cart">
            <div class="hs-product-content-image-swipper">
              <a
                href="/products/bio-retinol-cream?variant=40031513542721"
                class="hs-product-link-image"
                ><img
                  loading="lazy"
                  href="/products/bio-retinol-cream"
                  src="//cdn.shopify.com/s/files/1/0566/6521/0945/products/Bio-Retinol-Cream-Bottle_Carton_x160.jpg"
                  alt="Bio-Retinol Cream"
                  width="100"
                  height="90"
              /></a>
            </div>
            <div class="hs-content-title-price-swiper hs-link">
              <div class="hs-popup">
                <div title="Bio-Retinol Cream" class="hs-title-swiper">
                  <a
                    href="/products/bio-retinol-cream"
                    class="hs-product-link-image"
                  >
                    Bio-Retinol Cream
                  </a>
                </div>
                <div
                  class="jdgm-badge-placeholder"
                  data-handle="bio-retinol-cream"
                ></div>
                <div class="hs-content-all-upsell">
                  <div class="hs-content-price-swiper">
                    <div class="hs-compare-price-sw"></div>
                    <div class="hs-price-sw">
                      <span class="money">Rs. 2,850</span>
                    </div>
                  </div>
                  <div class="hs-variants-swipper hs-hidden-element">
                    <div class="hs-hidden-element">
                      <select
                        aria-label="hs-swipper-option-6839898636353"
                        class="hs-swipper-option-parent-6839898636353 hs-swipper-select-option-add-to-cart hs-hidden-element hs-event-static"
                        data-id="6839898636353"
                      >
                        <option
                          value="40031513542721"
                          data-id="6839898636353"
                          data-price="285000"
                          data-sku="AWBRC01"
                          data-available="true"
                          data-handle="/products/bio-retinol-cream"
                          data-barcode="8906139890029"
                          data-featuredimage=""
                          data-inventorymanagement="shopify"
                          data-compareatprice="null"
                          data-variantid="40031513542721"
                        >
                          30 GM
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="hs-upsell-add">
                    <button
                      title="ADD"
                      type="button"
                      class="hs-upsell-add-to-cart btn hs-event-static"
                      data-upsell-type="upsell_empty"
                      data-upsell-index="2"
                    >
                      <span class="hs-add--to--cart">ADD</span>
                      <span class="hs--loading">
                        <div class="hs-spinner"></div>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
