<div class="cart-drawer__cart">
  <div
    class="hs-item-cart-content hs-product-40031513083969"
    data-item-key="40031513083969:db6c10d238536527c2122711449a0ae8"
    data-item-qty="1"
  >
    <div class="hs-item-content-variants">
      <div class="hs-item-cart-image">
        <a
          class="hs-item-cart-image-content"
          href="/products/a-ha-face-wash?variant=40031513083969"
          ><img
            class="hs-cart-image"
            loading="lazy"
            src="https://cdn.shopify.com/s/files/1/0566/6521/0945/products/1_2_x160.jpg"
            width="100"
            height="90"
            alt="A-HA Face Wash"
        /></a>
      </div>
      <div class="hs-item-cart-description">
        <div class="hs-item-top">
          <div class="hs-item-top-left">
            <div class="hs-content-product-and-variant-title">
              <a
                href="/products/a-ha-face-wash?variant=40031513083969"
                class="hs-product-title"
              >
                A-HA Face Wash</a
              >
              <div class="jdgm-badge-placeholder" "=""
              data-handle="a-ha-face-wash">
            </div>
            <span class="hs-variant-title">100 ML</span>
          </div>
        </div>
        <div class="hs-item-close">
          <span
            style="cursor: pointer"
            class="hs-remove-item hs-event-static"
            data-id="40031513083969"
            data-key="40031513083969:db6c10d238536527c2122711449a0ae8"
            data-line="1"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 329.26933 329"
              width="16px"
              height="12px"
            >
              <path
                d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"
              ></path></svg
          ></span>
        </div>
      </div>
      <div class="hs-content-quantity-price">
        <div class="hs-item-cart-content-quantity">
          <div class="hs-item-cart-qty hs-item-40031513083969">
            <div
              class="hs-cart-plus-minus"
              data-quantity="1"
              data-id="40031513083969"
              data-key="40031513083969:db6c10d238536527c2122711449a0ae8"
              data-line="1"
            >
              <div class="hs-dec hs-qtybutton hs-event-static">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10px"
                  height="10px"
                  viewBox="0 -192 469.33333 469"
                >
                  <path
                    d="m437.332031.167969h-405.332031c-17.664062 0-32 14.335937-32 32v21.332031c0 17.664062 14.335938 32 32 32h405.332031c17.664063 0 32-14.335938 32-32v-21.332031c0-17.664063-14.335937-32-32-32zm0 0"
                  ></path>
                </svg>
              </div>
              <input
                type="text"
                value="1"
                id="40031513083969:db6c10d238536527c2122711449a0ae8"
                data-id="40031513083969"
                data-key="40031513083969:db6c10d238536527c2122711449a0ae8"
                data-line="1"
                data-value="1"
                class="hs-event-static"
              />
              <label
                for="40031513083969:db6c10d238536527c2122711449a0ae8"
                class="hs-cart-input-lbl"
                >1</label
              >
              <div class="hs-inc hs-qtybutton hs-event-static">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10px"
                  height="10px"
                  version="1.1"
                  x="0px"
                  y="0px"
                  viewBox="0 0 492 492"
                  style="enable-background: new 0 0 492 492"
                  xml:space="preserve"
                >
                  <g>
                    <g>
                      <path
                        d="M465.064,207.566l0.028,0H284.436V27.25c0-14.84-12.016-27.248-26.856-27.248h-23.116    c-14.836,0-26.904,12.408-26.904,27.248v180.316H26.908c-14.832,0-26.908,12-26.908,26.844v23.248    c0,14.832,12.072,26.78,26.908,26.78h180.656v180.968c0,14.832,12.064,26.592,26.904,26.592h23.116    c14.84,0,26.856-11.764,26.856-26.592V284.438h180.624c14.84,0,26.936-11.952,26.936-26.78V234.41    C492,219.566,479.904,207.566,465.064,207.566z"
                      ></path>
                    </g>
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="hs-cart-content-price">
          <span class="hs-compare-at-price"></span
          ><span
            class="hs-price-total hs-variant-40031513083969-price-total hs-desktop"
          >
            <span class="money">Rs. 1,450</span></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
