<div class="cart-drawer-announcement">
  <!-- Slider main container -->
  <div class="cart-drawer-announcement__slider">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide announcement">
        <p>Enjoy free shipping on all orders :)</p>
      </div>
    </div>
  </div>
</div>
<div class="hs-content-discounts-calculate-checkout"></div>
<div class="hs-content-count-products-clear-all">
  <div class="hs-content-count hs-clear-all-hidden"></div>
</div>
