<div
  class="cart-checkout spaced-row cc-animate-init -in cc-animate-complete"
  data-aos="fade-in"
  =""
>
  <div class="cart-checkout__wrapper">
    <div class="cart-checkout__left column column--half">
      <div class="checkout-note">
        <label for="note"
          >Add a note to your order. We're a thoughtful, care company. So we
          believe product should reach beautifully to you or your loved
          ones.</label
        >
        <div class="textareawrapper">
          <textarea id="note" name="note"></textarea>
        </div>
      </div>
    </div>

    <div class="cart-checkout__right column column--half">
      <h2 class="subtotal">
        Subtotal:
        <span class="theme-money"><span class="money">Rs. 1450</span></span>
      </h2>
      <div class="cart-policies">
        Tax included.
        <a href="/policies/shipping-policy">Shipping</a> calculated at checkout.
      </div>

      <div class="checkout-col">
        <div class="checkout-buttons">
          <button type="button" id="checkout3" class="button" name="checkout3">
            Check out
          </button>
        </div>

        <a class="continue-shopping" href="/collections/best-sellers"
          >Continue shopping</a
        >
      </div>
    </div>
  </div>
</div>
