<div class="cart-drawer-product cart-drawer-product--upsell">
  <div class="cart-drawer-product__heading">
    <span>SOLUTIONS FOR HEALTHY SKIN</span>
  </div>
  <div class="cart-drawer-product__products">
    <div class="upsell-product">
      <div class="upsell-product__item">
        <div class="upsell-product__img-wrapper">
          <a
            href="/products/copper-peptide-serum?variant=40031513346113"
            class="hs-product-link-image"
            ><img
              loading="lazy"
              href="/products/copper-peptide-serum"
              src="//cdn.shopify.com/s/files/1/0566/6521/0945/files/Catalogue_x160.png"
              alt="Copper Peptide Serum"
              width="100"
              height="90"
          /></a>
        </div>
        <div class="upsell-product__title-price">
          <div title="Copper Peptide Serum" class="upsell-product__title">
            <a
              href="/products/copper-peptide-serum"
              class="upsell-product__link"
            >
              Copper Peptide Serum
            </a>
          </div>
          <div class="upsell-product__price-btn">
            <div class="upsell-product__price">
              <span class="compare-at"></span>
              <span class="money">Rs. 1,840</span>
            </div>
            <div class="upsell-product__add">
              <button
                title="ADD"
                type="button"
                class="hs-upsell-add-to-cart btn hs-event-static"
                data-upsell-type="upsell_empty"
                data-upsell-index="0"
              >
                <span class="hs-add--to--cart">ADD</span>
                <span class="hs--loading">
                  <div class="hs-spinner"></div>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
