<div class="cart-drawer">
  <div class="cart-drawer__popup">
    <!-- HS HEADER LAYOUT -->
    {{> cart/cart-drawer-header }}

    <!-- HS BODY LAYOUT -->
    {{> cart/cart-drawer-body }}
    <!-- HS FOOTER LAYOUT -->

    {{> cart/cart-drawer-footer }}
    <!-- CART POPUP  -->
    {{> cart/cart-drawer-popup }}
    <!-- CART POPUP  -->
  </div>

  <!-- <div class="hs-result-loading" style="display: none">
    <div class="hs-spinner"></div>
  </div> -->
  <div class="cart-drawer__bg-overlay"></div>
</div>
