<div class="cart-drawer__body">
  <!-- Cart Empty  -->
  <!-- {{> cart/cart-drawer-empty }}  -->
  <!-- /Cart Empty  -->
  <div class="cart-drawer__content">
    <!-- Cart Announcement  -->
    {{> cart/cart-drawer-announcement }}
    <!-- /Cart Announcement  -->
    <!-- Cart Items  -->
    {{> cart/cart-drawer-items }}
    <!-- /Cart Items  -->
    <!-- Cart Discount  -->
    {{> cart/cart-drawer-discount }}
    <!-- /Cart Discount  -->
    <!-- Cart Xsell  -->
    {{> cart/cart-drawer-xsell }}
    <!-- /Cart Xsell  -->
    <!-- Cart Upsell  -->
    {{> cart/cart-drawer-upsell }}
    <!-- /Cart Upsell  -->
  </div>
</div>
