<div class="cart-drawer-popup__overlay"></div>
<div class="cart-drawer-popup">
  <header class="cart-drawer-popup__header">
    <div class="cart-drawer-popup__image">
      <a href="{{webRoot}}/product.html">
        <img
          alt="10 ML"
          src="//cdn.shopify.com/s/files/1/0566/6521/0945/files/1_x160.jpg"
      />
      </a>
    </div>
    <div class="cart-drawer-popup__text">
      <div class="cart-drawer-popup__title">
        <h2>
          <a
            href="{{webRoot}}/product.html"
            class="cart-drawer-popup__link-image"
          >
            Copper Peptide Serum
          </a>
        </h2>
        <p class="cart-drawer-popup__variant">10 ML</p>
      </div>
      <div class="cart-drawer-popup__price">
        <div class="cart-drawer-popup__options-prices">
          <div class="compare-price"></div>
          <div class="price"><span class="money">Rs. 1,840.00</span></div>
        </div>
      </div>
    </div>
  </header>

  <div class="cart-drawer-popup__options">
    <div class="cart-drawer-popup__select-box-load">
      <span>Size</span
      ><select class="select-option-popup" name="none">
        <option value="10%20ML" data-id="6839898439745">10 ML</option>
        <option value="30%20ML" data-id="6839898439745">30 ML</option>
      </select>
    </div>
  </div>

  <div class="cart-drawer-popup__button">
    <button class="btn add-to-cart">
      <span class="hs-add--to--cart">ADD TO CART</span
      ><span class="loading"><div class="hs-spinner"></div></span>
    </button>
  </div>
</div>
