<div
  class="hs-container-dynamic-stacked hs-cross-sell"
  style="display: block"
  data-item="3"
  data-slide="swiperDynamicHSCart('upsell',3)"
>
  <div class="hs-frequently-bought"><span>ADD OUR BESTSELLERS</span></div>
  <div class="hs-products-dynamic-stacked">
    <div class="hs-swiper-slide">
      <div class="hs-content-product-slide-cart">
        <div class="hs-product-content-image-swipper">
          <a
            href="/products/copper-peptide-serum?variant=40031513346113"
            class="hs-product-link-image"
            ><img
              loading="lazy"
              href="/products/copper-peptide-serum"
              src="//cdn.shopify.com/s/files/1/0566/6521/0945/files/Catalogue_x160.png"
              alt="Copper Peptide Serum"
              width="100"
              height="90"
          /></a>
        </div>
        <div class="hs-content-title-price-swiper hs-link">
          <div class="hs-popup">
            <div title="Copper Peptide Serum" class="hs-title-swiper">
              <a
                href="/products/copper-peptide-serum"
                class="hs-product-link-image"
              >
                Copper Peptide Serum
              </a>
            </div>
            <div
              class="jdgm-badge-placeholder"
              data-handle="copper-peptide-serum"
            ></div>
            <div class="hs-content-all-upsell">
              <div class="hs-content-price-swiper">
                <div class="hs-compare-price-sw"></div>
                <div class="hs-price-sw">
                  <span class="money">Rs. 1,840</span>
                </div>
              </div>
              <div class="hs-variants-swipper">
                <div class="">
                  <select
                    aria-label="hs-swipper-option-6839898439745"
                    class="hs-swipper-option-parent-6839898439745 hs-swipper-select-option-add-to-cart hs-event-static"
                    data-id="6839898439745"
                  >
                    <option
                      value="40031513346113"
                      data-id="6839898439745"
                      data-price="1840.00"
                      data-sku="AWCPS02"
                      data-available="true"
                      data-handle="/products/copper-peptide-serum"
                      data-barcode="undefined"
                      data-featuredimage=""
                      data-inventorymanagement="undefined"
                      data-compareatprice="null"
                      data-variantid="40031513346113"
                    >
                      10 ML
                    </option>
                    <option
                      value="40109400784961"
                      data-id="6839898439745"
                      data-price="4600.00"
                      data-sku="AWCPS01"
                      data-available="true"
                      data-handle="/products/copper-peptide-serum"
                      data-barcode="undefined"
                      data-featuredimage=""
                      data-inventorymanagement="undefined"
                      data-compareatprice="null"
                      data-variantid="40109400784961"
                    >
                      30 ML
                    </option>
                  </select>
                </div>
              </div>
              <div class="hs-upsell-add">
                <button
                  title="ADD"
                  type="button"
                  class="hs-upsell-add-to-cart btn hs-event-static"
                  data-upsell-type="upsell_manually"
                  data-upsell-index="0"
                >
                  <span class="hs-add--to--cart">ADD</span>
                  <span class="hs--loading">
                    <div class="hs-spinner"></div>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hs-swiper-slide">
      <div class="hs-content-product-slide-cart">
        <div class="hs-product-content-image-swipper">
          <a
            href="/products/correcting-concentrate?variant=40031513313345"
            class="hs-product-link-image"
            ><img
              loading="lazy"
              href="/products/correcting-concentrate"
              src="//cdn.shopify.com/s/files/1/0566/6521/0945/files/24_x160.jpg"
              alt="Correcting Concentrate"
              width="100"
              height="90"
          /></a>
        </div>
        <div class="hs-content-title-price-swiper hs-link">
          <div class="hs-popup">
            <div title="Correcting Concentrate" class="hs-title-swiper">
              <a
                href="/products/correcting-concentrate"
                class="hs-product-link-image"
              >
                Correcting Concentrate
              </a>
            </div>
            <div
              class="jdgm-badge-placeholder"
              data-handle="correcting-concentrate"
            ></div>
            <div class="hs-content-all-upsell">
              <div class="hs-content-price-swiper">
                <div class="hs-compare-price-sw"></div>
                <div class="hs-price-sw">
                  <span class="money">Rs. 3,600</span>
                </div>
              </div>
              <div class="hs-variants-swipper">
                <div class="">
                  <select
                    aria-label="hs-swipper-option-6839898406977"
                    class="hs-swipper-option-parent-6839898406977 hs-swipper-select-option-add-to-cart hs-event-static"
                    data-id="6839898406977"
                  >
                    <option
                      value="40031513313345"
                      data-id="6839898406977"
                      data-price="3600.00"
                      data-sku="AWCC001"
                      data-available="true"
                      data-handle="/products/correcting-concentrate"
                      data-barcode="undefined"
                      data-featuredimage=""
                      data-inventorymanagement="undefined"
                      data-compareatprice="null"
                      data-variantid="40031513313345"
                    >
                      30 ML
                    </option>
                    <option
                      value="40031513280577"
                      data-id="6839898406977"
                      data-price="1440.00"
                      data-sku="AWCC002"
                      data-available="true"
                      data-handle="/products/correcting-concentrate"
                      data-barcode="undefined"
                      data-featuredimage=""
                      data-inventorymanagement="undefined"
                      data-compareatprice="null"
                      data-variantid="40031513280577"
                    >
                      10 ML
                    </option>
                  </select>
                </div>
              </div>
              <div class="hs-upsell-add">
                <button
                  title="ADD"
                  type="button"
                  class="hs-upsell-add-to-cart btn hs-event-static"
                  data-upsell-type="upsell_manually"
                  data-upsell-index="1"
                >
                  <span class="hs-add--to--cart">ADD</span>
                  <span class="hs--loading">
                    <div class="hs-spinner"></div>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hs-swiper-slide">
      <div class="hs-content-product-slide-cart">
        <div class="hs-product-content-image-swipper">
          <a
            href="/products/skin-perfecting-serum?variant=40109416480833"
            class="hs-product-link-image"
            ><img
              loading="lazy"
              href="/products/skin-perfecting-serum"
              src="//cdn.shopify.com/s/files/1/0566/6521/0945/products/1_17cc96fe-aa90-4a19-99ef-fba37088de71_x160.jpg"
              alt="Skin Perfecting Serum"
              width="100"
              height="90"
          /></a>
        </div>
        <div class="hs-content-title-price-swiper hs-link">
          <div class="hs-popup">
            <div title="Skin Perfecting Serum" class="hs-title-swiper">
              <a
                href="/products/skin-perfecting-serum"
                class="hs-product-link-image"
              >
                Skin Perfecting Serum
              </a>
            </div>
            <div
              class="jdgm-badge-placeholder"
              data-handle="skin-perfecting-serum"
            ></div>
            <div class="hs-content-all-upsell">
              <div class="hs-content-price-swiper">
                <div class="hs-compare-price-sw"></div>
                <div class="hs-price-sw">
                  <span class="money">Rs. 2,450</span>
                </div>
              </div>
              <div class="hs-variants-swipper">
                <div class="">
                  <select
                    aria-label="hs-swipper-option-6839898538049"
                    class="hs-swipper-option-parent-6839898538049 hs-swipper-select-option-add-to-cart hs-event-static"
                    data-id="6839898538049"
                  >
                    <option
                      value="40109416480833"
                      data-id="6839898538049"
                      data-price="2450.00"
                      data-sku="AWSPS01"
                      data-available="true"
                      data-handle="/products/skin-perfecting-serum"
                      data-barcode="undefined"
                      data-featuredimage=""
                      data-inventorymanagement="undefined"
                      data-compareatprice="null"
                      data-variantid="40109416480833"
                    >
                      30 ML
                    </option>
                    <option
                      value="40031513444417"
                      data-id="6839898538049"
                      data-price="980.00"
                      data-sku="AWSPS02"
                      data-available="true"
                      data-handle="/products/skin-perfecting-serum"
                      data-barcode="undefined"
                      data-featuredimage=""
                      data-inventorymanagement="undefined"
                      data-compareatprice="null"
                      data-variantid="40031513444417"
                    >
                      10 ML
                    </option>
                  </select>
                </div>
              </div>
              <div class="hs-upsell-add">
                <button
                  title="ADD"
                  type="button"
                  class="hs-upsell-add-to-cart btn hs-event-static"
                  data-upsell-type="upsell_manually"
                  data-upsell-index="2"
                >
                  <span class="hs-add--to--cart">ADD</span>
                  <span class="hs--loading">
                    <div class="hs-spinner"></div>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
