* {
  font-variation-settings: "wght" var(--font-weight, 375),
    "wdth" var(--font-width, 80);
}

body {
  font-size: var(--fs-400);
  font-family: var(--ff-primary);
  color: var(--clr-neutral-800);
  letter-spacing: -0.5px;
  // overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  --font-weight: 600;
  --font-width: 80;
  font-family: var(--ff-secondary);
  font-weight: var(--font-weight);
  font-stretch: 100%;
  line-height: 1.2;
  color: var(--clr-neutral-800);
}

h1 {
  --font-weight: 700;

  // color: var(--clr, var(--clr-primary-400));
}

.title {
  font-size: clamp(var(--fs-800), calc(1rem + 5vw), 5rem);
}

.article-snippet-title {
  --font-weight: 600;
}

time + p {
  font-size: 1.25em;
  margin: 2em 0 1em !important;
}

// This is setting the font-sizes
// based on the ones in the abstract
// folder, go there to make updates

h1,
.h1 {
  font-size: var(--fs-800);
}

h2,
.h2 {
  --flow-spacer: 1.5em;
  font-size: var(--fs-550);
}
h3,
.h3 {
  --flow-spacer: 1.5em;
  font-size: var(--fs-450);
}

h4,
.h4 {
  font-size: var(--fs-400);
}

small,
.text-small {
  font-size: var(--fs-300);
}

strong {
  --font-weight: 600;
  font-weight: var(--font-weight);
}

a {
  color: var(--clr, var(--clr-primary-400));

  &:hover,
  &:focus {
    color: var(--clr-secondary-800);
    text-decoration: none;
  }
}

p:not([class]),
ul:not([class]),
li:not([class]) {
  // max-width: 60ch;
  line-height: 1.618;
}
