<div
  id="section-home-routine"
  class="home-routine-slideshow home-routine-section section-border"
>
  <div class="container">
    <div class="home-routine-section__header section-header">
      <h2 class="heading" data-cc-animate>from routine to rituals</h2>

      <div class="subheading subheading--over">
        Enhance the efficacy of what we use by "breathing, reflecting & honoring
        the intelligence of ingredients & the application techniques of
        products.
      </div>
    </div>
    <div class="home-routine-section__slides mob_slide">
      <div
        class="swiper"
        data-swiper
        data-options='{
    "slidesPerView": 1,
    "spaceBetween": 32,
    "navigation": {
      "nextEl": ".swiper-button-next",
      "prevEl": ".swiper-button-prev"
    },
    "breakpoints": {
      "768": {
        "slidesPerView": 3
      }
    }
  }'
      >
        <div class="swiper-wrapper">
          <!-- Your HTML code for each slide here -->
          <div class="swiper-slide">
            <div
              id="card-routine"
              class="al-relative al-flex-col content-card"
              data-cc-animate="cc-fade-in-up"
              data-cc-animate-delay="0.15s"
            >
              <div class="content-card--border">
                <div class="content-card__image">
                  <a href="{{webRoot}}/product-archive.html"
                    ><div class="image-outer-wrapper">
                      <div class="image-wrapper lazyload--placeholder">
                        <img
                          width="358px"
                          height="358px"
                          class="image__image lazyload fade-in"
                          src="{{webRoot}}/assets/images/homepage/double-cleansing_85ac5ad9-47a7-4f7c-8761-4b855e9e5d2d_460x.png"
                          data-widths="[180, 220, 300, 360, 460, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                          data-aspectratio="1.0"
                          data-sizes="auto"
                          alt=""
                        />
                      </div>
                    </div>
                  </a>
                </div>

                <div
                  class="content-card__button-row content-card__button-row--primary"
                >
                  <a
                    class="content-card__button btn btn--primary"
                    href="{{webRoot}}/product-archive.html"
                    >VIEW MORE</a
                  >
                </div>

                <div class="al-absolute right_text"></div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div
              id="card-routine"
              class="al-relative al-flex-col content-card"
              data-cc-animate="cc-fade-in-up"
              data-cc-animate-delay="0.15s"
            >
              <div class="content-card--border">
                <div class="content-card__image">
                  <a href="{{webRoot}}/product-archive.html"
                    ><div class="image-outer-wrapper">
                      <div class="image-wrapper lazyload--placeholder">
                        <img
                          width="358px"
                          height="358px"
                          class="image__image lazyload fade-in"
                          src="{{webRoot}}/assets/images/homepage/moisture-sandwich_460x.png"
                          data-widths="[180, 220, 300, 360, 460, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                          data-aspectratio="1.0"
                          data-sizes="auto"
                          alt=""
                        />
                      </div>
                    </div>
                  </a>
                </div>

                <div
                  class="content-card__button-row content-card__button-row--primary"
                >
                  <a
                    class="content-card__button btn btn--primary"
                    href="{{webRoot}}/product-archive.html"
                    >VIEW MORE</a
                  >
                </div>

                <div class="al-absolute right_text"></div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div
              id="card-routine"
              class="al-relative al-flex-col content-card"
              data-cc-animate="cc-fade-in-up"
              data-cc-animate-delay="0.15s"
            >
              <div class="content-card--border">
                <div class="content-card__image">
                  <a href="{{webRoot}}/product-archive.html"
                    ><div class="image-outer-wrapper">
                      <div class="image-wrapper lazyload--placeholder">
                        <img
                          width="358px"
                          height="358px"
                          class="image__image lazyload fade-in"
                          src="{{webRoot}}/assets/images/homepage/masking-sundays_460x.png"
                          data-widths="[180, 220, 300, 360, 460, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                          data-aspectratio="1.0"
                          data-sizes="auto"
                          alt=""
                        />
                      </div>
                    </div>
                  </a>
                </div>

                <div
                  class="content-card__button-row content-card__button-row--primary"
                >
                  <a
                    class="content-card__button btn btn--primary"
                    href="{{webRoot}}/product-archive.html"
                    >VIEW MORE</a
                  >
                </div>

                <div class="al-absolute right_text"></div>
              </div>
            </div>
          </div>
        </div>

        <!-- Add navigation buttons (optional) -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
</div>
