<div class="section-home-solution">
  <div class="home-solution-slideshow home-solution-section section-spacing">
    <div class="container">
      <div class="home-solution-section__header section-header">
        <h4 class="subheading subheading--h4 align-center ff-display">
          clean. clinical. w-holistic. skin treatments expertly crafted for all
          tones, moods &amp; gender
        </h4>
      </div>

      <div class="home-solution-section__slides">
        <div
          class="swiper"
          data-swiper
          data-options='
        {
    "slidesPerView": 1,
    "spaceBetween": 32,
    "navigation": {
      "nextEl": ".swiper-button-next",
      "prevEl": ".swiper-button-prev"
    },
    "breakpoints": {
      "768": {
        "slidesPerView": 3
      }
    }
  }'
        >
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div
                class="column content-card al-relative"
                data-cc-animate="cc-fade-in-up"
                data-cc-animate-delay="0.15s"
              >
                <div class="content-card--border">
                  <div class="content-card__image lightly-spaced-row">
                    <img
                      width="346px"
                      height="296px"
                      src="https://cdn.shopify.com/s/files/1/0566/6521/0945/files/illustration_1_1_346x296.png?v=1655185183"
                      alt="The “Skin-Now” Solutions"
                    />
                  </div>
                  <div class="al-absolute top_text_logo cstm_txt">
                    Knowing skin everyday
                  </div>
                </div>
                <div class="content-card__content al-text-center">
                  <h3 class="content-card__title">The “Skin-Now” Solutions</h3>

                  <div class="content-card__text rte">
                    <div class="content" data-block="skin-now">
                      <p>
                        Our skin and its needs are constantly changing Our
                        treatment products are based on the physiology of skin,
                        its mood (skin type)<span class="dots">..</span
                        ><span class="more">
                          and concerns which are constantly changing for every
                          individual and its lifestyle which we call "SkinNOW".
                          We formulate highly effective, multitasking, clean
                          skincare that works and is bio-compatible.</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="column content-card al-relative"
                data-cc-animate="cc-fade-in-up"
                data-cc-animate-delay="0.15s"
              >
                <div class="content-card--border">
                  <div class="content-card__image lightly-spaced-row">
                    <img
                      width="346px"
                      height="296px"
                      src="https://cdn.shopify.com/s/files/1/0566/6521/0945/files/illustration_1_1_346x296.png?v=1655185183"
                      alt="The “Skin-Now” Solutions"
                    />
                  </div>
                  <div class="al-absolute top_text_logo cstm_txt">
                    Knowing skin everyday
                  </div>
                </div>
                <div class="content-card__content al-text-center">
                  <h3 class="content-card__title">The “Skin-Now” Solutions</h3>

                  <div class="content-card__text rte">
                    <div class="content" data-block="skin-now">
                      <p>
                        Our skin and its needs are constantly changing Our
                        treatment products are based on the physiology of skin,
                        its mood (skin type)<span class="dots">..</span
                        ><span class="more">
                          and concerns which are constantly changing for every
                          individual and its lifestyle which we call "SkinNOW".
                          We formulate highly effective, multitasking, clean
                          skincare that works and is bio-compatible.</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="column content-card al-relative"
                data-cc-animate="cc-fade-in-up"
                data-cc-animate-delay="0.15s"
              >
                <div class="content-card--border">
                  <div class="content-card__image lightly-spaced-row">
                    <img
                      width="346px"
                      height="296px"
                      src="https://cdn.shopify.com/s/files/1/0566/6521/0945/files/illustration_1_1_346x296.png?v=1655185183"
                      alt="The “Skin-Now” Solutions"
                    />
                  </div>
                  <div class="al-absolute top_text_logo cstm_txt">
                    Knowing skin everyday
                  </div>
                </div>
                <div class="content-card__content al-text-center">
                  <h3 class="content-card__title">The “Skin-Now” Solutions</h3>

                  <div class="content-card__text rte">
                    <div class="content" data-block="skin-now">
                      <p>
                        Our skin and its needs are constantly changing Our
                        treatment products are based on the physiology of skin,
                        its mood (skin type)<span class="dots">..</span
                        ><span class="more">
                          and concerns which are constantly changing for every
                          individual and its lifestyle which we call "SkinNOW".
                          We formulate highly effective, multitasking, clean
                          skincare that works and is bio-compatible.</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
