<div id="section-home-articles" class="home-articles-section section-padding">
  <div class="container">
    <div class="al-text-center">
      <div class="section-header al-inline-block">
        <h2 class="align-center spaced-row heading">the journal</h2>
      </div>
    </div>
    <div
      class="container article-slider swiper"
      data-swiper
      data-options='{
    "spaceBetween": 30,
    "loop": true,
    "autoplay": {
      "delay": 5000,
      "disableOnInteraction": false
    },
    "navigation": {
      "nextEl": ".swiper-next",
      "prevEl": ".swiper-prev"
    },   
    "breakpoints": {
      "600": {
        "slidesPerView": 2
      },
      "1024": {
        "slidesPerView": 3
      },       
      "1400": {
        "slidesPerView": 3
      }
    }
  }'
    >
      <div class="swiper-wrapper">
        {{#if (config articles) }} {{#each articles.entries}}
        <div class="swiper-slide">{{> cards/article-card this }}</div>
        {{/each}} {{/if}}
      </div>
    </div>
  </div>
</div>
