<div class="mob_only">
  <div id="feature-section-infinite_slider" class="feature-marquee-section">
    <section class="featureicon_rotating features-area isolate">
      <div class="container"></div>

      <div class="feature__marquee">
        <div class="icon-marquee">
          <div class="icon-marquee__marquee" data-icon-marquee>
            <div class="icon-marquee__marquee-inner">
              <div class="icon-marquee__icon features-icon" data-icon>
                <img
                  width="50px"
                  height="50px"
                  src="https://cdn.shopify.com/s/files/1/0566/6521/0945/files/Vitamins_f599e156-6fbd-4a62-a84e-c4477e782566_50x.png?v=1660196921"
                  alt=""
                />

                <span>Vitamins</span>
              </div>

              <div class="icon-marquee__icon features-icon" data-icon>
                <img
                  width="50px"
                  height="50px"
                  src="https://cdn.shopify.com/s/files/1/0566/6521/0945/files/traditional_herbs_ec94b8ad-ca6f-4d78-af23-fa996ba2f8de_50x.png?v=1660196935"
                  alt=""
                />

                <span>Traditional Herbs</span>
              </div>

              <div class="icon-marquee__icon features-icon" data-icon>
                <img
                  width="50px"
                  height="50px"
                  src="https://cdn.shopify.com/s/files/1/0566/6521/0945/files/peptides_05e957df-8258-45a4-b34b-48e0cdd55d63_50x.png?v=1660196946"
                  alt=""
                />

                <span>Peptides</span>
              </div>

              <div class="icon-marquee__icon features-icon" data-icon>
                <img
                  width="50px"
                  height="50px"
                  src="https://cdn.shopify.com/s/files/1/0566/6521/0945/files/minerals_0dffdcf6-80cc-4b06-89b7-11f17dd12ade_50x.png?v=1660196957"
                  alt=""
                />

                <span>Minerals</span>
              </div>

              <div class="icon-marquee__icon features-icon" data-icon>
                <img
                  width="50px"
                  height="50px"
                  src="https://cdn.shopify.com/s/files/1/0566/6521/0945/files/marine_algae_d99c4b83-c566-41c9-b22b-d0df73256f2b_50x.png?v=1660196967"
                  alt=""
                />

                <span>Marine Algae</span>
              </div>

              <div class="icon-marquee__icon features-icon" data-icon>
                <img
                  width="50px"
                  height="50px"
                  src="https://cdn.shopify.com/s/files/1/0566/6521/0945/files/wildharvested_boticals_65629185-7030-4868-936e-5958148f79d4_50x.png?v=1660196993"
                  alt=""
                />

                <span>Wildharvested Botanicals</span>
              </div>

              <div class="icon-marquee__icon features-icon" data-icon>
                <img
                  width="50px"
                  height="50px"
                  src="https://cdn.shopify.com/s/files/1/0566/6521/0945/files/essential_fatty_acids_50x.png?v=1660197042"
                  alt=""
                />

                <span>Essential Fatty Acids</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
