<section
  class="feature-section-infinite_slider home-section feature-marquee feature-marquee__bg-pale"
>
  <div class="container"></div>

  <div class="feature__marquee">
    <div class="icon-marquee">
      <div class="icon-marquee__marquee" data-icon-marquee="">
        <div class="icon-marquee__marquee-inner">
          {{#each marquee.marquee_2}}
          <div class="icon-marquee__icon features-icon" data-icon>
            <img width="50px" height="50px" src="{{icon}}" alt="" />

            <span class="marquee__title">{{ title }}</span>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>
