<div class="how-it-works" data-section-type="video">
  <div class="how-it-works__inner">
    <div class="how-it-works__columns columns">
      <div class="how-it-works__image column-12 column-md-4">
        <div
          class="plyr__video-embed al-video-player"
          id="player"
          data-plyr='{ "title": "Example Title" }'
          data-thumbnail-url="{{webRoot}}/assets/images/homepage/Rectangle_358_180x.png"
          data-play-icon-svg='<svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-play-circle"
                  >
                    <title>Play</title>
                    <circle cx="12" cy="12" r="10"></circle>
                    <polygon points="10 8 16 12 10 16 10 8"></polygon>
                  </svg>'
        >
          <iframe
            class="video-container__video-element"
            id="theme-yt-video-1"
            frameborder="0"
            allowfullscreen="1"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            title="Aminu Life | AHA Power Peel | The instant facial"
            width="640"
            height="360"
            src="https://youtube.com/shorts/nxg20msZ4s8?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
            data-gtm-yt-inspected-10="true"
          ></iframe>
        </div>
      </div>
      <div class="how-it-works__heading column-md-8">
        <div class="accordion">
          <h2 class="how-it-works__title">WHY &amp; HOW IT WORKS</h2>
        </div>

        <div class="panel">
          <div class="how-it-works-content">
            <p class="desktop-only stars">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
            </p>
            <p>
              The skin barrier is the protective layer of your skin, which is
              there primarily to keep moisture and hydration inside, and block
              external aggressors such as pollution from getting into your skin.
              The exfoliating gel formula works hard to fade discoloration while
              naturally restoring and replenishing your skin’s barrier.
              &nbsp;<br /><br />AHA's work by lifting off the build-up of dead
              cells on the skin's surface to reveal a brighter, smoother
              complexion. Fruit AHA complex helps improve moisturization while
              simultaneously increasing the production of structural components,
              such as collagen and glycosaminoglycan, as well as reversing
              cutaneous atrophy. Effective at treating mild pigmentation,
              enlarged pores, fine lines, wrinkles and uneven skin tone.
              &nbsp;<br /><br />Also helps other products better absorb into the
              skin. Thus, truly revealing a rejuvenated complexion! &nbsp;<br />•
              Decongest pores and remove pollutants &nbsp;<br />• Gently
              exfoliates and deeply cleans with every wash &nbsp;<br />•
              Brightens and ensures balanced, refreshed, radiant skin &nbsp;<br />•
              Helps fade blemishes and reduces tanning
            </p>
          </div>
        </div>

        <span class="show_hide" data-content="toggle-text">Read More</span>
      </div>
    </div>
  </div>
</div>
