<div class="home-thoughtfullness-section section-border">
  <div class="container orig_multi_col btm_mlt">
    <div class="section-header al-text-center">
      <h4 class="subheading subheading--uppercase al-align-center">
        OUR THOUGHTFULNESS &amp; CARE
      </h4>
      <h2
        class="hometitle h4-style align-center cc-animate-init -in cc-animate-complete"
        data-aos="fade-in"
        =""
      >
        DELIVERING SAFE &amp; EFFECTIVE RESULTS
      </h2>
    </div>

    <div
      class="icon-blurb__list icon-blurb--thoughfulness icon-blurb__list--columns-3"
    >
      {{#each blurbs.features}}
      <div
        id="feature-icon-blurb"
        class="icon-blurb al-text-center cc-fade-in-up cc-animate-init -in cc-animate-complete"
        data-aos="fade-in"
        ="cc-fade-in-up"
        data-aos="fade-in"
        -delay="0.15s"
      >
        <div class="al-inline-block lightly-spaced-row image-wrapper">
          <img width="150px" height="150px" src="{{image}}" alt="{{title}}" />
        </div>

        <h3 class="icon-blurb__title al-uppercase">{{title}}</h3>

        <div class="icon-blurb__text al-text-left rte">
          <p>{{content}}</p>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
