@use "../abstracts/" as *;

.content-card {
  &.al-relative {
    padding-top: 2rem;
  }
  &--border {
    border-radius: 1.25rem;
    border: 1px solid var(--clr-primary-400);
    overflow: hidden;
    padding: 0.75rem;

    .top_text_logo {
      top: 2%;
      border-radius: 3px;
      color: #000;
      text-align: center;
      padding: 6px;
      background-color: var(--clr-secondary-500);
      z-index: var(--zAbove);
      left: 6%;
      max-width: 300px;
      width: 100%;
      font-family: var(--ff-serif);
      font-weight: 700;
      font-size: calc(var(--fs-400) - 1px);
    }
  }
  &__image {
    img {
      object-fit: cover
    }
    .image-wrapper {
      @include aspect-ratio(400, 400);
    }
  }

  &__title {
    font-size: var(--fs-550);
    margin-block: 2rem;
    text-transform: uppercase;
  }

  &__text {
    .content {
      font-size: var(--fs-450);
    }
  }

  &__button-row {
    margin-top: 2.5rem;
  }

  &__button {
    width: 100%;
  }
}

.card {
  border: 1px solid var(--clr-primary-400);
  border-radius: 1.2rem;
  overflow: hidden;
  &--no-border {
    border: none;
  }
  &--no-br {
    border-radius: 0;
  }
  &__inner {
  }

  &__image-wrapper {
    position: relative;
    & > .product-link {
      position: absolute;
      inset: 0;
      z-index: var(--zAbove);
      aspect-ratio: 1/1;
    }
  }

  &__image {
    border-radius: 1rem;
    overflow: hidden;
    .rimage-wrapper {
      position: relative;
      border-radius: 1rem;
      overflow: hidden;
      @include aspect-ratio(358, 358);
    }

    &--reveal {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      display: none;
    }
  }

  &__info {
    padding: 1rem;
    margin-bottom: 1.5rem;
  }

  &__info-text {
    .vendor {
      font-family: var(--ff-display);
      font-size: var(--fs-500);
      line-height: 1;
    }
    .card-title {
      font-size: var(--fs-450);
      font-family: var(--ff-secondary);
      font-weight: 600;
    }

    .card-subtitle {
      margin-top: 0.5rem;
      color: var(--clr-neutral-500);
      line-height: 1.2;
      min-height: 4rem;
    }
  }

  .price-with-review {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .option-size {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: var(--fs-200);
    }
  }

  .price {
    margin-bottom: 0;
    &__item {
      font-size: var(--fs-450);
      font-weight: 500;
    }
  }

  &__btn {
    margin-top: 1rem;
    & > a {
      width: 100%;
    }
  }
}

.product-technology-card {
  &.card {
    & .card-title {
      font-size: var(--fs-550);
      line-height: 1.2;
    }
    & .card-subtitle {
      color: black;
    }
  }
  .rimage__image {
    @include aspect-ratio(1, 1);
  }
}

.article-grid-section {
  border-left: 0.3px solid;
}
.article-card {
  line-height: 1.4;
  position: relative;
  &--v2 {
    border-right: 0.3px solid;
    border-bottom: 0.3px solid;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }

  &__tag {
    font-size: var(--fs-450);
    font-weight: 500;
    text-transform: uppercase;
  }

  .article-title {
    font-size: var(--fs-450);
    font-weight: 400;
    font-family: var(--ff-primary);
    margin-bottom: 0.5rem;
  }

  .card-content {
    flex-grow: 1;
    margin-bottom: 0.5rem;
  }

  .article-meta {
    left: 10px;
    position: absolute;
    top: 55px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 0;
    font-size: 14px;
    margin: 0;
  }

  .link {
    color: var(--clr-secondary-400);
  }
}

.home-articles-section {
  .article-card {
    .link {
      color: black;
    }

    .card-title {
      font-family: var(--ff-primary);
      font-weight: 400;
    }

    .card__btn {
      margin-inline: -1rem;
      padding-top: 0.5rem;
      border-top: 1px solid black;

      & > a {
        color: black;
        text-transform: uppercase;
        font-weight: 500;
        display: inline-block;
        vertical-align: middle;
        &:hover {
          background: transparent;
          border: none;
        }
      }
    }
    .card__info {
      margin-bottom: 0;
    }
  }
}

.product-card:hover {
  .card__image--reveal {
    display: block;
  }
}

.collection-card {
  border: none;
}