.select-dropdown {
  position: relative;
  display: inline-block;
  &__button {
    position: relative;
    color: inherit;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    padding-right: 40px;
    z-index: 3;
    text-align: left;
    white-space: nowrap;
    will-change: width;
    transition: width 0.25s cubic-bezier(0.01, 0.45, 0.28, 0.98);
  }

  &__button-text {
    font-size: var(--fs-350);
    letter-spacing: 0;
    text-transform: capitalize;
  }
  &__options {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 2;
    top: 0px;
    right: -12px;
    min-width: calc(100% + 20px);
    // max-width: 230px;
    text-align: left;
    background: #ffffff;
    padding-top: 49px;
    padding-bottom: 12px;
    box-shadow: 0 6px 12px 1px #0000001f;
    transition: opacity 0.25s ease, box-shadow 0.25s ease, visibility 0.25s;
  }

  &__link {
    display: block;
    white-space: nowrap;
    color: inherit;
    padding: 6px 50px 6px 30px;
  }
}

.link-dropdown {
  position: relative;
  &__button,
  &__button:hover {
    background-color: transparent;
    border: none;
    color: black;
  }

  &__options {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: var(--zTooltip);
  }

  &__option-item {
    display: flex;
    flex-direction: column;
  }
}

.country-dd {
  .link-dropdown {
    position: relative;
    &__button,
    &__button:hover {
      background-color: transparent;
      border: none;
      color: #fff;
      padding: 0;
    }

    &__options {
      display: none;
      position: absolute;
      background-color: #fff;
      padding: 0rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      z-index: var(--zTooltip);
      min-height: 40px;
      max-height: 300px;
      overflow-y: auto;
      margin: 0;
      max-width: 80vw;
      min-width: 240px;
      width: max-content;
      right: 0;
      top: calc(100% + 2px);
    }

    &__option-item {
      a {
        color: black;
        text-decoration: none;
        transition: background 0.1s;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0em;
        display: flex;
        justify-content: space-between;
        padding: 0.75rem 1.25rem 0.5rem 1rem;
      }
    }

    &__option-item {
      display: flex;
      flex-direction: column;
    }
  }
}
