input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="address"],
input[type="tel"],
textarea,
select {
  font-size: var(--fs-350);
  line-height: 1;
  font-family: Futura, sans-serif;
  font-weight: 400;
  font-style: normal;
  background: var(--neutral-50);
  color: #000;
  border: 0.3px solid #bfbfbf;
  padding: 0.8em 15px;
  margin: 0;
  vertical-align: middle;
  max-width: 100%;
  border-radius: 3px;
  box-sizing: border-box;
  width: 100%;
}

.input-group {
  display: flex;

  .btn {
    padding-block: 1rem;
  }
}

input[type="radio"] {
  &::after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -8px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
  }

  &:checked::after {
    background-color: #000;
  }
}
