


#shopify-section-infinite_slider
  section.featureicon_rotating.features-area.isolate {
  border-top: 0.3px solid #000;
}

#shopify-section-infinite_slider
  section.featureicon_rotating.features-area.isolate {
  border-bottom: 0.3px solid #000;
}

@media screen and (min-width: 1025px) {
  .bundle-callout__marquee {
    order: 3;
    padding: 0;
  }
}
.bundle-callout__marquee {
  position: relative;
  width: 100%;
}
.featureicon_rotating {
  padding: 5px 0;
}
.icon-marquee {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50px;
}
.icon-marquee__marquee {
  position: relative;
  width: auto;
  min-width: 150%;
  height: 50px;
}
.icon-marquee__marquee-inner {
  position: absolute;
  top: 50%;
  display: flex;
  overflow: hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 50px;
  align-items: center;
  -webkit-animation: icon-marquee s linear infinite;
  animation: icon-marquee s linear infinite;
  transform: translateY(-50%);
}

.template-product .icon-marquee__marquee {
  min-width: 100%;
}
.icon-marquee__icon {
  display: inline-flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
  justify-content: flex-start;
  padding-right: 180px;
  margin-bottom: 0px;
}
.icon-marquee__icon svg {
  width: 48px;
  height: 48px;
  margin-right: 20px;
}
.icon-marquee__icon span {
  color: #000;
  font-family: Gill Sans;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

@media (min-width: 750px) {
  .template-product .icon-marquee__marquee-inner {
    position: unset;
    top: 0;
    display: flex;
    width: 100%;
    -webkit-animation: none;
    animation: none;
    transform: unset;
    justify-content: center;
  }
}
@media (max-width: 749px) {
  .icon-marquee__icon.features-icon img {
    max-width: 40px;
  }
  .icon-marquee__icon svg {
    width: 40px;
    height: 40px;
  }
  .icon-marquee__icon span {
    font-size: 15px;
  }
  .featureicon_rotating {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .icon-marquee__marquee {
    height: 45px !important;
  }
  .icon-marquee {
    height: 45px !important;
  }
  .icon-marquee__icon span {
    font-size: 15px;
    font-weight: 200;
  }
  .icon-marquee__icon {
    padding-right: 27px;
  }
}
