<div class="about-feature-section section-padding">
  <div class="container">
    <div class="about-feature">
      <div class="feature-block feature-block--block-1">
        <div class="feature-block__item">
          <div class="feature-block__img">
            <img
              src="//www.aminu.life/cdn/shop/files/Cleanser_Oil_1_500x.png?v=1655199917"
              alt=""
              loading="lazy"
            />
          </div>
          <div class="feature-block__text">
            <h2 class="feature-block__title">Solution for every skin</h2>
            <p>
              At Aminu, there is a solution for every skin type and concern.
              Backed by personalised consultation, we make sure your skin gets
              the love &amp; skincare it needs and not what google or social
              media trends are saying.
            </p>
          </div>
        </div>
      </div>

      <div class="feature-block feature-block--block-2">
        <div class="feature-block__item">
          <div class="feature-block__img">
            <img
              src="//www.aminu.life/cdn/shop/files/Benefits_2-_resized_1_500x.png?v=1655199961"
              alt=""
              loading="lazy"
            />
          </div>
          <div class="feature-block__text">
            <h2 class="feature-block__title">
              High Performance powered by nature, delivered by science
            </h2>
            <p>
              We scout the infinite goodness of nature from all over the planet
              and then deploy the latest extraction techinques &amp; delivery
              mechanisms to deliver on our promise of heathly skin for everyone.
            </p>
          </div>
        </div>
      </div>

      <div class="feature-block feature-block--block-3">
        <div class="feature-block__item">
          <div class="feature-block__img">
            <img
              src="//www.aminu.life/cdn/shop/files/Regenrating_Serum_1_500x.png?v=1655200008"
              alt=""
              loading="lazy"
            />
          </div>
          <div class="feature-block__text">
            <h2 class="feature-block__title">
              Multi-functional &amp; holistic care
            </h2>
            <p>
              All Aminu products contain multiple actives careffully chosen in
              such a way that together they make sure that the skin is getting
              holistic nourishment. Fewer but multi-active products mean
              skincare becomes a hobby and not a chore for you.
            </p>
          </div>
        </div>
      </div>

      <div class="feature-block feature-block--block-4">
        <div class="feature-block__item">
          <div class="feature-block__img">
            <img
              src="//www.aminu.life/cdn/shop/files/Rectangle_194_1_500x.png?v=1655205014"
              alt=""
              loading="lazy"
            />
          </div>
          <div class="feature-block__text">
            <h2 class="feature-block__title">Clean &amp; plant friendly</h2>
            <p>
              We have adopted a strong definition of clean beauty which means we
              dont use micro-plastics in our products, single use plastic in our
              packaging. High perfomance but not at the cost of your long term
              heatlh of the planet.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
