<div class="about-intro-section section-padding">
  <div class="container">
    <div class="align-center spaced-column">
      <h2 class="about-intro__title">A product first approach</h2>

      <div class="about-intro__content">
        <p>
          Aminu is build on fundamental understanding of skin (dermatology),
          ingredients (chemistry &amp; biology) &amp; human senses
          (neurosciences). Aminu's reason of existence is to make products that
          help you achieve &amp; maintain healthy, naturally radiant, every
          youthful skin.
        </p>
      </div>
    </div>
  </div>
</div>
