<div class="featured-video-section about-video section-padding" data-section-type="video">
  <div class="container">
    <div class="mobile-only">
      <h2 class="majortitle in-content h1-style">
        The elements of science + nature!
      </h2>
    </div>
    <div class="columns valign-middle">
      <div class="column-12 column-md-6">
        <div
          class="plyr__video-embed al-video-player"
          id="player"
          data-plyr='{ "title": "Example Title" }'
          data-thumbnail-url="{{webRoot}}/assets/images/homepage/Rectangle_358_180x.png"
          data-play-icon-svg='<svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-play-circle"
                  >
                    <title>Play</title>
                    <circle cx="12" cy="12" r="10"></circle>
                    <polygon points="10 8 16 12 10 16 10 8"></polygon>
                  </svg>'
        >
          <iframe
            class="video-container__video-element"
            id="theme-yt-video-1"
            frameborder="0"
            allowfullscreen="1"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            title="Aminu Life | AHA Power Peel | The instant facial"
            width="640"
            height="360"
            src="https://www.youtube.com/embed/4iG0I9aZiUQ?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
            data-gtm-yt-inspected-10="true"
          ></iframe>
        </div>
      </div>

      <div
        class="column-12 column-md-6 cc-animate-init -in cc-animate-complete"
        data-cc-animate=""
      >
        <div class="featured-video">
          <h2 class="featured-video__title in-content h1-style">
            Constant Innovation
          </h2>

          <div class="featured-video__content rte">
            <p>
              We constantly strive to deepen our knowledge of the basic sciences
              that govern skincare & their intersections such as
              psycho-dermatology to bring you unparalleled high performing,
              clean (safe) and planet friendly skincare.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
