<div id="tab2" class="tab-content">
  <p>
    <b>Full of List</b> - fruit-derived AHAs, plant surfactants, licorice,
    mulberry, charcoal, peppermint leaf oil, pine leaf oil, natural Vitamin E.
  </p>
  <p>
    Free of List - parabens, silicones, sulfates, and 1,350+ ingredients that
    have questionable data.
  </p>
  <p>
    Vegan & Cruelty-free | Dermatologically Tested | Medicert | MADE SAFE
    Certified | Zero Plastic Inside
  </p>
  <p>
    For External Use Only. Always do a patch test before use. Use only as
    directed on unbroken skin.
  </p>
</div>
