<div id="tab-benefit-1" class="tab-content" style="display: block;">
  <p>
    Good for - gentle exfoliation, beginners for AHA's, treats discoloration and
    rough texture, helps reduce existing tan & dark spots.
  </p>
  <p>
    Skin Type - Dry, Oily, Combination, Normal, also tanned, acne-prone, mature
    skin
  </p>
  <p>
    Skin Goals- De-Tanning, Spot-Correction, Body Acne-Clearing, Brightening,
    Deep-Cleansing
  </p>
  <p>
    Texture & Smell - Bouncy natural gel texture with natural uplifting notes of
    mint & pine, no added fragrance
  </p>
</div>
