<div class="product-tabs mobile-only">
  <div class="tabs">
    <ul id="tabs-nav">
      <li>
        <span href="#tab1"
          ><div class="nav_itm">
            <h5 class="h5">Product Details</h5>
          </div>
        </span>
      </li>
      <li>
        <span href="#tab2"
          ><div class="nav_itm">
            <h5 class="h5">Ingredients & Facts</h5>
          </div>
        </span>
      </li>
    </ul>
    <div class="tab-content">
      {{> mobile-tabs/product-details}} {{>
      mobile-tabs/ingredients}}
    </div>
  </div>
</div>
