<div class="container product-feature">
  <div class="section-header al-text-center">
    <h2
      class="hometitle h4-style align-center cc-animate-init -in cc-animate-complete"
      data-aos="fade-in"
    >
      DELIVERING SAFE &amp; EFFECTIVE RESULTS
    </h2>
  </div>

  <div
    class="icon-blurb__list icon-blurb--product-feature icon-blurb__list--columns-6"
  >
    {{#each product.meta_features}}
    <div
      id="feature-icon-blurb"
      class="icon-blurb al-text-center cc-fade-in-up cc-animate-init -in cc-animate-complete"
      data-aos="fade-in"
      -delay="0.15s"
    >
      <div class="al-inline-block lightly-spaced-row image-wrapper">
        <img width="150px" height="150px" src="{{image}}" alt="{{title}}" />
      </div>

      <h3 class="icon-blurb__title product-feature__title al-uppercase">
        {{title}}
      </h3>

      <div class="icon-blurb__text al-text-left rte">
        <p>{{content}}</p>
      </div>
    </div>
    {{/each}}
  </div>
</div>
