<div class="product-benefits" style="background: #ffffff">
  <div class="product-benefits__inner container">
    <div class="product-benefits__images al-relative">
      <div class="main-img image-wrapper">
        <img
          src="{{webRoot}}/assets/images/product/Middle-Pannel_a7937cb5-6a98-4fd9-b245-11fa21c91eed_548x752.png?v=1659005123"
        />
      </div>

      <div class="al-absolute image-1">
        <div class="image-wrapper">
          <img
            src="{{webRoot}}/assets/images/product/Left-Pannel_e6021996-7d91-476d-aa4a-dd4c9420c637_287x280.png?v=1659005139"
          />
        </div>
      </div>

      <div class="al-absolute image-2">
        <div class="image-wrapper">
          <img
            src="{{webRoot}}/assets/images/product/Right-Pannel_d285b01f-202c-407e-b46a-587ea14841fa_287x280.png?v=1659005154"
          />
        </div>
      </div>

      <div class="al-absolute text-border text-box text-box--beige">
        <p>
          <b>Gentle exfoliation &amp; brightening right in the shower!</b><br />
          Formulated with an optimum acid level to treat rough, dull and tanned
          body skin. The low foaming, soap-free cleanser maintains the natural
          pH balance of the skin &amp; leaves skin super clean, soft and smooth.
        </p>
        <p></p>
        <p></p>
      </div>

      <div class="al-absolute text-border text-box text-box--pink">
        <p>
          <b>We love your skin &amp; planet in equal doses!!</b><br />
          Your skin is beautiful no matter what! If there are spots left behind
          by acne or tanned after a beach vacay, there’s always the A-ha moment
          with our microplastic-free AHA Body Wash &lt;3
        </p>
      </div>

      <div class="al-absolute text-border text-box text-box--green">
        <p>
          <b>Fruit AHA's + Patented Sugar Complex + Plant Cleansing Agents </b
          ><br />
          Five natural AHAs boosts skin cell renewal. Plant extracts of
          Elderberry, Licorice, Uva ursi help brighten. Patented hydration
          technology reinforces the synthesis of ceramides.
        </p>
      </div>
    </div>
  </div>
</div>
