<div
    class="lightly-spaced-row test payment-image inline-width-container not-in-quickbuy"
    style="width: 470px"
  >
    <div class="rimage-outer-wrapper" style="max-width: 850px">
      <div
        class="rimage-wrapper lazyload--placeholder"
        style="padding-top: 15.058823529411763%"
      >
        <img
          width="358px"
          height="358px"
          class="rimage__image lazyload fade-in"
          data-src="//cdn.shopify.com/s/files/1/0566/6521/0945/files/payment_gateways_830x_1_{width}x.png?v=1655703740"
          data-widths="[180, 220, 300, 360, 460, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
          data-aspectratio="6.640625"
          data-sizes="auto"
          alt=""
        />

        <noscript>
          <img
            class="rimage__image"
            src="https://cdn.shopify.com/s/files/1/0566/6521/0945/files/payment_gateways_830x_1_1024x1024.png?v=1655703740"
            alt=""
          />
        </noscript>
      </div>
    </div>
  </div>