<div class="product-sticky-form">
  <div class="container">
    <div class="product-sticky-form__inner">
      <div class="product-sticky-form__content-wrapper desktop-only">
        <div class="product-sticky-form__image-wrapper">
          <img
            class="product-sticky-form__image"
            sizes="75px"
            src="https://cdn.shopify.com/s/files/1/0566/6521/0945/products/1_15_75x.jpg?v=1679292448"
          />
        </div>

        <div class="product-sticky-form__info">
          <div class="product-sticky-form__bottom-info">
            <span class="product-sticky-form__title">A-HA Body Wash</span>
            <span class="square-separator square-separator--subdued"></span>
            <span class="product-sticky-form__price">
              <div class="atc-price">
                <span class="atc-money">Rs. 1,650</span>
              </div>
            </span>
          </div>
        </div>
      </div>
      <div class="product-sticky-form__form">
        <div
          class="input-row"
          id="product-form-template--19075229352238__main-6839898734657"
        ></div>

        <product-payment-container
          form-id="product-form-template--19075229352238__main-6839898734657"
          class="product-sticky-form__payment-container"
          ><input type="hidden" name="id" value="40031513673793" /><button
            class="btn ProductForm__AddToCart sticky-add"
            type="submit"
            data-add-to-cart-text="Add to cart"
          >
            Add to cart
          </button>
          <div class="atc-price mobile-only">
            <span class="atc-money">Rs. 1,650</span>
          </div>
        </product-payment-container>
      </div>
    </div>
  </div>
</div>
