<div
  thumbsSlider=""
  class="product-thumbnail__swiper swiper tw-flex"
  data-swiper
  data-options='{
  "slidesPerView": 7,
  "loop": true,
  "spaceBetween": 10,
  "freeMode": true,
  "watchSlidesProgress": true
}'
>
  <div class="swiper-wrapper">
    {{#each product.media }}
    <div class="product-thumbnail__slide swiper-slide">
      <div class="thumbnail product-thumbnail--media-image">
        <div class="rimage-outer-wrapper" style="max-width: 850px">
          <div class="rimage-wrapper">
            <img
              width="358px"
              height="358px"
              class="rimage__image fade-in lazyautosizes lazyloaded"
              alt="Copper Peptide Serum - AMINU"
              loading="lazy"
              src="{{preview_image.src}}"
            />
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
