<input type="hidden" name="form_type" value="product" /><input
  type="hidden"
  name="utf8"
  value="✓"
/>
<!-- <select name="id" class="attribute-selector hidden" aria-label="Options">
  <option value="40031513673793" selected="selected" data-stock="">
    150 ML
  </option>
</select> -->

<div class="attr-radio__group">
  <label class="attr-radio__label">
    <input
      type="radio"
      name="id"
      value="40109416480833"
      checked="checked"
      data-stock=""
      data-price="245000"
    />
    30 ML
  </label>

  <label class="attr-radio__label">
    <input
      type="radio"
      name="id"
      value="40031513444417"
      data-stock=""
      data-price="98000"
    />
    10 ML
  </label>
</div>
