<div class="product-image">
  <div class="slideshow product-slideshow">
    <div
      class="product-slideshow__wrapper swiper"
      data-swiper
      data-options='{
      "slidesPerView": 1,
      "spaceBetween": 0,
      "navigation": {
        "nextEl": ".swiper-button-next",
        "prevEl": ".swiper-button-prev"
      }
    }'
    >
      <div class="swiper-wrapper">
        {{#each product.media }}
        <div
          class="product-image__slide swiper-slide"
          data-media-id="22355370573889"
          data-slick-index="0"
          aria-hidden="false"
          tabindex="0"
          role="tabpanel"
          id="slick-slide20"
          aria-describedby="slick-slide-control20"
        >
          <a
            class="show-gallery"
            href="//cdn.shopify.com/s/files/1/0566/6521/0945/products/1_11.jpg?v=1679292245"
            ><div
              id="FeaturedMedia-template--19075229352238__main-22355370573889-wrapper"
              class="product-media-wrapper"
              data-media-id="template--19075229352238__main-22355370573889"
            >
              <div class="product-media product-media--image">
                <div class="rimage-outer-wrapper">
                  <div class="rimage-wrapper">
                    <img
                      width="358px"
                      height="358px"
                      class="rimage__image fade-in lazyautosizes lazyloaded"
                      alt="Copper Peptide Serum - AMINU"
                      loading="lazy"
                      src="{{preview_image.src}}"
                    />
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="slideshow-controls">
    <div class="slideshow-controls__arrows">
      <button
        type="button"
        class="slick-product-prev slick-arrow slick-disabled"
        aria-label="Previous"
        aria-disabled="true"
        style=""
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-chevron-left"
        >
          <title>Left</title>
          <polyline points="15 18 9 12 15 6"></polyline>
        </svg></button
      ><button
        type="button"
        class="slick-product-next slick-arrow"
        aria-label="Next"
        aria-disabled="false"
        style=""
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-chevron-right"
        >
          <title>Right</title>
          <polyline points="9 18 15 12 9 6"></polyline>
        </svg>
      </button>
    </div>
  </div>
</div>
