<div class="product-benefits">
  <div class="product-benefits__list">
    <li class="product-benefits__item">
      <img
        width="70px"
        height="70px"
        class="product-benefits__icon"
        src="{{webRoot}}/assets/images/product/Exfoliates_8f618c9e-cd01-4870-a6b0-d5ded110c37e.png"
      />
      <p class="product-benefits__text">Exfoliates</p>
    </li>

    <li class="product-benefits__item">
      <img
        width="70px"
        height="70px"
        class="product-benefits__icon"
        src="{{webRoot}}/assets/images/product/Brightening_957d7306-f6d3-4aa5-86b7-d137f1459aff.png"
      />
      <p class="product-benefits__text">Brightens</p>
    </li>

    <li class="product-benefits__item">
      <img
        width="70px"
        height="70px"
        class="product-benefits__icon"
        src="{{webRoot}}/assets/images/product/Smoothes_1e6ee9c7-81cf-4672-8d94-046b03b1e574.png"
      />
      <p class="product-benefits__text">Smoothes</p>
    </li>

    <li class="product-benefits__item">
      <img
        width="70px"
        height="70px"
        class="product-benefits__icon"
        src="{{webRoot}}/assets/images/product/Calms.gif"
      />
      <p class="product-benefits__text">Calms</p>
    </li>
  </div>
</div>
