<div class="product-rating">
  <div
    class="product-rating-badge"
    data-average-rating="4.56"
    data-number-of-reviews="54"
    data-number-of-questions="0"
  >
    <span
      class="product-rating-badge__stars"
      data-score="4.56"
      tabindex="0"
      aria-label="4.56 stars"
      role="button"
    >
      <i class="ri-star-s-fill"></i><i class="ri-star-s-fill"></i
      ><i class="ri-star-s-fill"></i><i class="ri-star-s-fill"></i
      ><i class="ri-star-half-s-fill"></i>
    </span>
    <span class="product-rating-badge__text"> 54 reviews </span>
  </div>
</div>
