<div class="product-title">
  <div class="product-vendor">the zen mood</div>

  <div class="title">
    <h1 class="title__text">
      A-HA Body Wash
      <span class="title__icon">
        <img
          src="https://cdn.shopify.com/s/files/1/0566/6521/0945/files/am___pm.png?v=1659336191"
          alt="Icons"
      /></span>
    </h1>
  </div>
  <div class="product-subtitle">
    <p class="product-subtitle__text">A body wash that works as hard as you.</p>
    <span class="desktop-only"> {{> single-product/rating }} </span>
  </div>
</div>
