<div class="nm product-detail-accordion">
  <div class="cc-accordion cc-initialized" data-allow-multi-open="true">
    <details class="cc-accordion-item">
      <summary class="cc-accordion-item__title">Product Details</summary>
      <div class="cc-accordion-item__panel">
        <div class="cc-accordion-item__content rte cf">
          <p></p>
          <p>
            Good for - addressing visible aspects of skin aging, firming, pore
            refining, healing, repair and to maintain healthy-looking skin
          </p>
          <p>
            Skin Type - Dry, Normal, Combination, Oily also for mature, tired,
            acne-prone, photo-damaged, wounded or inflamed skin.&nbsp;
          </p>
          <p>
            Skin Goals<strong> </strong>- Energizing, Protection, Better &amp;
            Well-aging, Skin Healing, Firming, Pore Refining
          </p>
          <p>
            Texture &amp; Smell<strong> </strong>- Feather-light cobalt blue,
            oil-free, plant water-based serum with a mild floral note of
            botanical herbs. Fragrance Free
          </p>
          <p></p>
        </div>
      </div>
    </details>
  </div>
</div>