<div class="nm product-detail-accordion not-in-quickbuy">
  <div class="accordion initialized" data-allow-multi-open="true">
    <div class="accordion-item">
      <div class="accordion-item__title" aria-expanded="false">
        Ingredients &amp; Facts<i class="ri-add-line"></i
        ><i class="ri-subtract-line"></i>
      </div>
      <div class="accordion-item__panel">
        <div class="accordion-item__content rte cf">
          <p></p>
          <p>
            Full of List - The Most Advanced Peptide Complex,
            Methyl-Glucoside-6-Phosphate, Antioxidant Gallic Acid, Copper
            Tripeptide-1 + Amino Acids, Probiotic Yeast + Polysachaarides,
            Silanetrol delivered Hyaluronic Acid, Biotechnology-derived Guava
            leaves from Jeju Island
          </p>
          <p>
            Free of List<strong> </strong>- parabens, silicones, sulfates, and
            1,350+ ingredients that have questionable data.&nbsp;
          </p>
          <p>
            Vegan &amp; Cruelty-free | Dermatologically Tested for Safety &amp;
            Irritation | Medicert | MADE SAFE Certified | Zero Plastic
            Inside&nbsp;
          </p>
          <p>
            For External Use Only. Always do a patch test before use. Use only
            as directed on unbroken skin.
          </p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
