.page-404 {
  .container {
    border-bottom: 1px solid;
  }
  .page-header {
    font-size: var(--fs-550);
    font-weight: 400;
    font-family: var(--ff-primary);
    margin-bottom: 2.5rem;
  }

  .redirect-text {
    font-size: var(--fs-350);
    & > a {
      color: var(--clr-secondary-400);
    }
  }
}