@use "../abstracts/" as *;

.archive-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.product-archive {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .pagetitle {
    font-size: var(--fs-450);
    @include mq(md) {
      font-size: var(--fs-800);
    }
  }
  &__left {
    .toggle-btn {
      &__chevron,
      .button-icon {
        svg {
          vertical-align: middle;
        }
      }
    }
  }
  &__wrapper {
    padding-block: 1rem;
    border-block: 0.3px solid black;
  }
}

.filter-container {
  position: relative;
  padding-block: 1.5rem;
  @include mq(lg) {
    display: flex;
  }
  .product-filter {
    background: #fff;
    border-right: 0.3px solid #dfe3e8;
    box-sizing: border-box;
    display: block;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: calc(env(safe-area-inset-bottom, 0px) + 60px);
    position: fixed;
    text-align: left;
    top: 0;
    right: 100%;
    padding-inline: 1rem;
    transform: translateX(100%);
    transition: transform 0.35s cubic-bezier(0.55, 0.03, 0.37, 0.96);
    width: 88%;
    will-change: transform;
    z-index: var(--zPopover);
    padding-top: 1rem;
    flex: 0 0 auto;
    @include mq(md) {
      width: 50%;
    }
    @include mq(lg) {
      position: relative;
      opacity: 0;
      visibility: hidden;
      transform: translate(0);
      z-index: 0;
      width: 0;
      height: 0;
      right: unset;
    }
  }

  .product-grid {
    flex: 1 1 100%;
  }

  &.active {
    .product-filter {
      // position: relative;
      visibility: visible;
      opacity: 1;
      width: 320px;
      height: 100%;
      @include mq(lg) {
        padding-right: 3rem;
      }

      @media (max-width: 62em) {
        right: 100%;
        transform: translateX(-100%);
      }
    }
  }

  .filters__heading {
    margin-bottom: 2rem;
  }
}

.product-chatnow {
}

.archive-section.feature-marquee {
  border-top: var(--border);
  border-color: black;
  margin-top: var(--section-spacing);
}
