<div class="pagination pagination--prev-next" data-aos="fade-in" ="">
  <div class="pagination__inner">
    <span class="prev">
      <a
        href="/blogs/journal/is-body-care-the-next-skin-care"
        class="run_wild-font"
        ><span class="icon"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-chevron-left"
          >
            <title>Left</title>
            <polyline points="15 18 9 12 15 6"></polyline></svg
        ></span>
        <span>Older Post</span></a
      >
    </span>

    <span class="next">
      <a
        href="/blogs/journal/burning-question-this-summer-our-take-on-it-%F0%9F%96%8B%EF%B8%8F"
        class="run_wild-font"
        ><span>Newer Post</span>
        <span class="icon"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-chevron-right"
          >
            <title>Right</title>
            <polyline points="9 18 15 12 9 6"></polyline></svg></span
      ></a>
    </span>
  </div>
</div>
