<aside class="article-aside__sidebar related-articles">
  <h2 class="aside-title h4-style">ESSENTIAL READS</h2>
  <ul class="related-article__list">
    <li>
      <div class="related-article">
        <span class="meta-time"> 2023-04-29</span>
        <h2 class="article-title h6-style">
          <a
            href="/blogs/journal/burning-question-this-summer-our-take-on-it-%F0%9F%96%8B%EF%B8%8F"
            title=""
            >Burning question this summer - Is your skin getting drier?</a
          >
        </h2>
        <div class="article-content">
          So many of you have reached out to us recently about your skin feeling
          increasingly dry in the last few weeks. You are not alone. Dry skin in
          summe...
        </div>
      </div>
    </li>

    <li>
      <div class="related-article">
        <span class="meta-time"> 2023-03-01</span>
        <h2 class="article-title h6-style">
          <a href="/blogs/journal/how-to-treat-melasma-at-home" title=""
            >How to treat Melasma at home?</a
          >
        </h2>
        <div class="article-content">
          In this article, we will explore the causes of melasma, the available
          treatments, and how our product can help.
        </div>
      </div>
    </li>

    <li>
      <div class="related-article">
        <span class="meta-time"> 2022-10-19</span>
        <h2 class="article-title h6-style">
          <a href="/blogs/journal/is-body-care-the-next-skin-care" title=""
            >Is Body Care The Next Skin Care?</a
          >
        </h2>
        <div class="article-content">
          Ria Bhatia,&nbsp;beauty columnist, believes so. Here’s why.&nbsp; The
          beauty industry has seen a metamorphosis of sorts lately. Blame the
          pandemic or simply ...
        </div>
      </div>
    </li>
  </ul>
</aside>
